@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	background-color: rgb(1, 19, 15);
}

@font-face {
	font-family: 'ProductSans';
	src: url('/fonts/Product-Sans-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'PT';
	src: url('/fonts/PTSans-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
    font-display: swap;
}
